<configuration scan="false">

    <property name="LOG_DIR" value="/var/log" />
    <property name="LOG_FILE_PREFIX" value="crowdfunding-backend" />
    <property name="LOG_ERROR_FILE_PREFIX" value="crowdfunding-backend-error" />
    <property name="MAX_HISTORY" value="7" />
    <property name="PATTERN_COLOR" value="%date{ISO8601} [%cyan(%thread)] %highlight(%-5level) %yellow(%logger{100}) - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN_COLOR}</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <!-- TODO: Remove file appender after switching to Kubernetes -->
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/${LOG_FILE_PREFIX}.log</file>
            <encoder>
                <pattern>${PATTERN_COLOR}</pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${LOG_FILE_PREFIX}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>${MAX_HISTORY}</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <file>${LOG_DIR}/${LOG_ERROR_FILE_PREFIX}.log</file>
            <encoder>
                <pattern>${PATTERN_COLOR}</pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${LOG_ERROR_FILE_PREFIX}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>${MAX_HISTORY}</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
        </appender>
    </springProfile>

    <logger name="com.ampnet" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <springProfile name="dev">
            <appender-ref ref="FILE" />
            <appender-ref ref="ERROR_FILE" />
        </springProfile>
    </root>

</configuration>
