<configuration scan="false">

    <property name="LOG_DIR" value="/var/log" />
    <property name="LOG_FILE" value="crowndfunding-backend.log" />
    <property name="LOG_ERROR_FILE" value="crowndfunding-backend-error.log" />
    <property name="MAX_HISTORY" value="7" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%cyan(%thread)] %highlight(%-5level) %yellow(%logger{100}) - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <!-- TODO: Remove file appender after switching to Kubernetes -->
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/${LOG_FILE}</file>
            <encoder>
                <pattern>%date{HH:mm:ss.SSS} [%cyan(%thread)] %highlight(%-5level) %yellow(%logger{100}) - %msg%n</pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>${MAX_HISTORY}</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <file>${LOG_DIR}/${LOG_ERROR_FILE}</file>
            <encoder>
                <pattern>%date{HH:mm:ss.SSS} [%cyan(%thread)] %highlight(%-5level) %yellow(%logger{100}) - %msg%n</pattern>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${LOG_ERROR_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>${MAX_HISTORY}</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>${MAX_HISTORY}</maxHistory>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
    </springProfile>

    <logger name="com.ampnet" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <springProfile name="dev">
            <appender-ref ref="FILE" />
            <appender-ref ref="ERROR_FILE" />
            <appender-ref ref="STASH" />
        </springProfile>
    </root>

</configuration>
